<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4096"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings/>
  <connectionStrings>
    <!-- <add name="MDBConnectionString" connectionString="Data Source=D:\Sorgenti\VB.Net\Miei\WEB\SSDCastelverdeCalcio\CVCalcio\DB\***NOME_DB***.mdb;Persist Security Info=False" providerName="Microsoft.Jet.OLEDB.4.0"/> -->
    <add name="MDBConnectionStringLavoro" connectionString="Data Source=D:\Looigi\VB.Net\Miei\WEB\SSDCastelverdeCalcio\CVCalcio\DB\SSD_CC.mdb;Persist Security Info=False" providerName="Microsoft.Jet.OLEDB.4.0"/>
    <add name="MDBConnectionStringCasa" connectionString="Data Source=D:\Sorgenti\VB.Net\Miei\WEB\SSDCastelverdeCalcio\CVCalcio\DB\SSD_CC.mdb;Persist Security Info=False" providerName="Microsoft.Jet.OLEDB.4.0"/>
    <add name="SQLConnectionStringLOCALE" providerName="SQLNCLI11.1" connectionString="Persist Security Info=False;User ID=looigi;Password=looigi227;Initial Catalog=***NOME_DB***;Data Source=192.168.0.227\WIN-KD8P5AQNTPQ\SQLEXPRESS,1433;Initial File Name=;Server SPN="/>
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Opzioni di Visual Basic:
            Set strict="true" per impedire qualsiasi conversione di tipi di dati 
            in caso di possibile perdita di dati. 
            Set explicit="true" per imporre la dichiarazione di tutte le variabili.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <!--
      La sezione <authentication> consente di configurare 
      la modalità di autenticazione della sicurezza utilizzata da 
      ASP.NET per identificare un utente in ingresso. 
    <authentication mode="Windows" />
    -->
    <!--
       La sezione <customErrors> consente di configurare 
       l'operazione da eseguire in caso di errore non gestito 
       durante l'esecuzione di una richiesta. In particolare, 
       consente agli sviluppatori di configurare le pagine di errore HTML 
       in modo che vengano visualizzate al posto della traccia dello stack dell'errore.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <ERROR:statusCode="403" redirect="NoAccess.htm" />
         <ERROR:statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>